* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
}
.actions h1 {
  color: rgb(39, 39, 39);

  text-decoration: underline;
  text-decoration-color: #ffc3c3;
  text-decoration-thickness: 3px; /* Épaisseur du soulignement */
  text-decoration-skip-ink: none; /* Empêche le soulignement de s'interrompre aux jambages (les lettres qui descendent comme le 'p' ou le 'g') */
  text-underline-offset: 10px;
}

.grp-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 400px;
  color: black;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px 10px 0 0;
  font-size: 0.85rem;
  border: 1px solid rgb(177, 177, 177);
}
.text-card,
.but {
  color: #282828;
}
.card img {
  width: 100%;
  height: 130%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  /* border: 2px solid green; */
  text-align: center;
  height: 100%;
  /* background-color: #ffc3c3; */
  background: linear-gradient(to bottom right, #cbc0f5, #f5c0e1);
}
.two {
  /* background-color: #8bcfa0; */
  background: linear-gradient(to bottom right, #c48bcf, #ee99b8);
}
.three {
  /* background-color: rgb(255, 187, 255); */
  background: linear-gradient(to bottom right, #f5cbc0, #ffc3c3);
}
.four {
  background-color: blanchedalmond;
}

.btn-card {
  width: 180px;
  height: 30px;
  color: rgb(69, 68, 68);
  /* color: white; */
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  /* opacity: 0.5; */
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px;
}
.btn-card p {
  color: rgb(69, 68, 68);
}
.btn-card:active {
  margin-top: 4px;
  /* margin-bottom: 6px; */
  box-shadow: 0px 0px;
  background-color: #394843;
  color: #ffffff;
}
.btn-card:active p {
  color: #ffffff;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .actions {
    margin: 20px 0;
    padding: 0;
  }
  .grp-card {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 15px;
  }
  .but {
    width: 100%;
    margin: 0;
    color: #282828;
    padding: 0 20px;
    text-align: center;
  }

  .card {
    width: 100%;
    height: auto;
    /* border: 1px solid rgb(146, 146, 146); */
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }

  .card img {
    object-fit: cover;
    height: 250px;
  }

  .card-content {
    padding: 20px;
    gap: 15px;
  }

  .card-content p {
    font-size: 0.85rem;
  }

  .btn-card {
    width: 100%;
    max-width: 220px;
    height: 40px;
  }
}
